{% extends "timeline/base.html" %}
{% load static %}

{% block content %}


<div class="jumbotron" style="padding: 6em; margin-bottom: 80px;">
    <a href="https://www.tietoevry.com/"><img id="tietoevry-logo" src="{% static 'timeline/tietoevry.png' %}" alt="Tietoevry"></a>
    <div class="container">
        <h1>Tietoevry - HTTP Log Timeline Visualizer</h1>
        <h3 style="color: #c3c3c3;"> <a class="jenkins-link" href="http://10.14.222.120:50088/">Jenkins</a> log generator</h3>
        <hr>
        
    </div>

    <!-- File upload field -->
    <div class="mb-4">
        <form method="post" enctype="multipart/form-data" action="{% url 'timeline-home' %}">
            {% csrf_token %}
            <input type="file" name="document" style="margin-left: -23.5%;">
            <button type="submit" class="btn btn-primary" style="margin-left: -10%;">Generate from file</button>
        </form>

        <!-- URL field -->
        <form method="post" action="{% url 'timeline-home' %}" style="margin-top: 5px; margin-left: -23.5%; margin-bottom: 30px;">
            {% csrf_token %}
            <input type="text" name="jenkins_url">
            <button type="submit" class="btn btn-primary" style="margin-left: 10%;">Generate from URL</button>
        </form>
    </div>

    <!-- Date time filter -->
    <div class="datetime-form">
        <form method="GET">
            {% csrf_token %}
            {{ filter_form.date }} <br>
            {{ filter_form.time }}
            <input type="submit"></input>
        </form>
    </div>

</div>


<div class="container">
    <!-- For loop -->
    {% for timeline in timelines %}
        <div class="card border-dark mb-3" style="max-width: 180px; max-height: 50px;">
            <a style="color: white" href="{% url 'timeline-tm' timeline.IP %}">
                <div class="card-title" style="margin-left: 18%;">
                    {{ timeline.IP }}
                </div>
            </a>
        </div>

        <div class="row">
            <div class="col">
                <div class="timeline-steps aos-init aos-animate" data-aos="fade-up">

                    {% for log in logs %}

                    {% if log.timeline.IP  ==  timeline.IP %}
                        <div class="timeline-step">
                            <div class="timeline-content">

                                {% if log.type == 'RECEIVED' or log.type == 'CONF RECEIVED' %}
                                    {% for data in datas %}
                                        {% if data.log.ID == log.ID %}
                                            <a href="{% url 'timeline-log' log.ID %}"><div class="inner-circle"></div></a>
                                            <a href="javascript://" data-toggle="popover" data-html="true" title="{{ log.dateTime|date:'Y-m-d H:i:s' }}" data-content="{{ log.hostname }} <br/> restLogger: {{ log.restLogger }} <br/> <br/> {{ log.type }}: {{ data.statusCode }} <br/> ip: {{ data.ip }} <br/> result: {{ data.data }}">
                                                {% if data.statusCode > 400 and data.statusCode < 500 %}
                                                <p class="h6 mt-1 mb-1" style="color: orange;">{{ log.dateTime|date:'Y-m-d H:i:s.u' }}</p>
                                                {% endif %}
                                                {% if data.statusCode > 500 %}
                                                <p class="h6 mt-1 mb-1" style="color: red;">{{ log.dateTime|date:'Y-m-d H:i:s.u' }}</p>
                                                {% endif %}
                                                {% if data.statusCode > 199 and data.statusCode < 300 %}
                                                <p class="h6 mt-1 mb-1">{{ log.dateTime|date:'Y-m-d H:i:s.u' }}</p>
                                                {% endif %}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                
                                {% if log.type == 'SENT' or log.type == 'CONF SENT' %}
                                    {% for request in requests %}
                                        {% if request.log.ID == log.ID %}
                                            <a href="{% url 'timeline-log' log.ID %}"><div class="inner-circle"></div></a>
                                            <a href="javascript://" data-toggle="popover" data-html="true" title="{{ log.dateTime|date:'Y-m-d H:i:s' }}" data-content="{{ log.hostname }} <br/> restLogger: {{ log.restLogger }} <br/> <br/> {{ log.type }}: {{ request.requestType }} <br/> <br/> request: <br/> {{ request.URL }} <br/> {{ request.params }}">
                                                <p class="h6 mt-1 mb-1">{{ log.dateTime|date:'Y-m-d H:i:s.u' }}</p>
                                                
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                            </div>
                        </div>
                    {% endif %}

                    {% endfor %}

                </div>
            </div>
        </div>
    
    <!-- End loop -->
    {% endfor %}
</div>

{% endblock content %}

{% block foot %}

<!-- Delete timelines button -->
<div>
    <form method="post" action="{% url 'delete' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" style="float: right; margin-right: 10%; margin-bottom: 5%;">Delete timelines</button>
    </form>
</div>

{% endblock foot %}