{% extends "timeline/base.html" %}

{% block content %}


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Tietoevry - HTTP Log Timeline Visualizer</h1>
        <!-- <img src="assets/tietoevry.png" alt="Tietoevry"> -->
        <h3 style="color: #c3c3c3;">Jenkins log generator</h3>
        <hr>

        
        <button type="button" class="btn btn-primary">Generate timelines</button>

        <button type="button" class="btn btn-danger">Delete timelines</button>
        
    </div>
</div>

<div class="container">
    <!-- For loop -->
        <div class="card bg-dark text-white">
            <div class="card-body">
                {{ ip }}
            </div>
        </div>

        <!-- Timeline -->

    <!-- End loop -->
</div>

{% endblock content %}