{% extends "timeline/base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron">
    <a href="https://www.tietoevry.com/"><img id="tietoevry-logo" src="{% static 'timeline/tietoevry.png' %}" alt="Tietoevry"></a>
    <div class="container">
        <h1>Tietoevry - HTTP Log Timeline Visualizer</h1>
        <h3 style="color: #c3c3c3;"> <a class="jenkins-link" href="http://10.14.222.120:50088/">Jenkins</a> log generator</h3>
        <hr>

        
        <button type="button" class="btn btn-primary">Generate timelines</button>

        <button type="button" class="btn btn-danger">Delete timelines</button>
        
    </div>
</div>


<div class="container">
    <!-- For loop -->
    {% for timeline in timelines %}
        <div class="card bg-dark text-white">
            <a style="color: white" href="{% url 'timeline-tm' timeline.IP %}">
                <div class="card-body">
                    {{ timeline.IP }}
                </div>
            </a>
        </div>

        
        
        <div class="row">
            <div class="col">
                <div class="timeline-steps aos-init aos-animate" data-aos="fade-up">

                    {% for log in logs %}

                    {% if log.timeline.IP  ==  timeline.IP %}
                        <div class="timeline-step">
                            <div class="timeline-content">

                                {% if log.type == 'RECIEVED' %}
                                    {% for data in datas %}
                                        {% if data.log.ID == log.ID %}
                                            <a href="{% url 'timeline-log' log.ID %}"><div class="inner-circle"></div></a>
                                            <a href="#" data-toggle="popover" data-html="true" title="{{ log.dateTime|date:'Y-m-d H:i:s' }}" data-content="{{ log.hostname }} <br/> restLogger: {{ log.restLogger }} <br/> <br/> {{ log.type }}: {{ data.statusCode }} <br/> <br/> hostname: {{ data.hostname }} <br/> ip: {{ data.ip }} <br/> result: {{ data.result }} <br/> role: {{ data.role }}">
                                                <p class="h6 mt-3 mb-1">{{ log.dateTime|date:'Y-m-d H:i:s' }}</p>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                
                                {% if log.type == 'SENT' %}
                                    {% for request in requests %}
                                        {% if request.log.ID == log.ID %}
                                            <a href="{% url 'timeline-log' log.ID %}"><div class="inner-circle"></div></a>
                                            <a href="#" data-toggle="popover" data-html="true" title="{{ log.dateTime|date:'Y-m-d H:i:s' }}" data-content="{{ log.hostname }} <br/> restLogger: {{ log.restLogger }} <br/> <br/> {{ log.type }}: {{ request.requestType }} <br/> <br/> request: <br/> {{ request.URL }} <br/> {{ request.params }}">
                                                <p class="h6 mt-3 mb-1">{{ log.dateTime|date:'Y-m-d H:i:s' }}</p>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                            </div>
                        </div>
                    {% endif %}

                    {% endfor %}

                </div>
            </div>
        </div>
    
    <!-- End loop -->
    {% endfor %}
</div>

{% endblock content %}