{% extends "timeline/base.html" %}

{% block content %}

<div class="p-3 bg-dark text-white">
    <h2> {{ time }} </h2> <!-- Remove -->
</div>

<div class="container" style="margin-top: 10%;">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>{{ hostname }} RestLogger: {{ restLogger }}</td>
            </tr>

            <tr>
                <td>{{ type }}: {{ status_code }}</td>
            </tr>

            <tr>
                <td>hostname: {{ slave_hostname }}  ip: {{ ip }}</td>
            </tr>

            <tr>
                <td>result: {{ result }}    role: {{ role }}</td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock content %}