{% extends "timeline/base.html" %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>{{ timeline.IP }}</h1>
    </div>
    <a href="{% url 'timeline-home' %}"><button class="btn btn-primary" style="margin-left: 90%; margin-top: -10%;">Home</button></a>
</div>

<div class="timeline">
    <div class="outer">
        {% for log in logs %}
        <a href="{% url 'timeline-log' log.ID %}">
            <div class="card">
                <div class="info">
                
                {% if log.type == 'SENT' %}
                    {% for request in requests %}
                        {% if request.log.ID == log.ID %}
                            <h3 class="title">{{ log.dateTime|date:'Y-m-d H:i:s.u' }}</h3>
                            <p>
                                {{ log.hostname }} <br/> restLogger: {{ log.restLogger }} 
                                <br/> <br/> {{ log.type }}: {{ request.requestType }} <br/> <br/> 
                                request: <br/> {{ request.URL }} <br/> {{ request.params }}
                            </p>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if log.type == 'RECEIVED' %}
                    {% for data in datas %}
                        {% if data.log.ID == log.ID %}
                            
                            {% if data.statusCode > 400 and data.statusCode < 500 %}
                            <h3 class="title" style="color:orange">{{ log.dateTime|date:'Y-m-d H:i:s.u' }}</h3>
                            {% endif %}

                            {% if data.statusCode > 500 %}
                            <h3 class="title" style="color:red;">{{ log.dateTime|date:'Y-m-d H:i:s.u' }}</h3>
                            {% endif %}

                            {% if data.statusCode == 200 %}
                            <h3 class="title">{{ log.dateTime|date:'Y-m-d H:i:s.u' }}</h3>
                            {% endif %}

                            <p>
                                {{ log.hostname }} <br/> restLogger: {{ log.restLogger }} 
                                <br/> <br/> {{ log.type }}: {{ data.statusCode }} <br/> <br/> 
                                hostname: {{ data.hostname }} <br/> ip: {{ data.ip }} <br/> result: {{ data.result }} <br/> role: {{ data.role }}
                            </p>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock content %}